.AList-Title {
    font-size: 128px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.carousel-container {
   
    margin: auto;
    width: 80%;
    
    
}

.reviews-aidan {
    color: #ffffff;
    margin-top: 60px;
    margin-left: 350px;
    margin-right: 350px;
}

#top10 {
    font-size: 96px;
    font-family: 'Josefin Sans', sans-serif;
}

.reviews-aidan h2 {
    font-size: 52px;
    font-family: 'Josefin Sans', sans-serif;
}

.reviews-aidan p {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
}

.breakpoints {
    
    border: 10px solid rgb(73, 44, 236);
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .reviews-aidan {
        margin-left: 100px;
        margin-right: 100px;
    }
    .reviews-aidan h2 {
        font-size: 40px;
    }
    .reviews-aidan p {
        font-size: 24px;
    }
    .vids {
        width: 560px;
        height: 315px;
    }
}