.TBH{
    color:rgb(165, 69, 69)
}

.ECSM{
    color:rgb(188, 102, 56)
}

.SXF{
    color:rgb(234, 188, 104)
}

.DR{
    color:rgb(52, 137, 82)
}

.FMA{
    color:rgb(89, 113, 191)
}

.BSD{
    color:rgb(128, 84, 148)
}